:root.theme-light {
 
  --accent-color: #353430;
  --bg-image: url('../images/cover-image-light.png');
  --bg-color: #fff1f7;
  --border-color: #353430;
  --border-color-hover: #353430;
  --bg-text-color: #FF8DCB;
  --article-text-color: #353430;
  --header-title: #FFC2E6;
  --header-shadow-color: #FF8DCB;
  --article-link-color: #FF8DCB;
  --title-text-color: #353430;
}

.theme-light .header__rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #353430;
    --bg-image: url('../images/cover-image-light.png');
    --bg-color: #fff1f7;
    --bg-text-color: #FF8DCB;
    --article-text-color: #353430;
    --title-text-color: #353430;
  }

  .header__rec {
    display: none;
  }
}