/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --header-title: #DB00FF;
  --header-shadow-color: #FF0070;
  --accent-color: #FF0070;
  --title-text-color: #000028;
  --bg-text-color: #FF0070;
  --article-link-color: #FF0070;
  --bg-light-color: #FFF1F7;
  --main-font: "IBM Plex mono";
  --main-font-size: 137px;
  --font-weight-bold: 700;
  --font-size: 18px;
  --bg-image: url(../images/cover-image-dark.png);
  --font-family: "IBM Plex Mono", monospace;
  --bg-color: #000028;
  --border-color: #ff0070;
  --border-color-hover: #ff007066;
  --article-text-color: #F1B2CE;
  --article-link-color: #FF0070;
  --logo-size: 157px;
}


@media (min-width: 768px) {

  :root {
    --page-padding: 20px;
  }
}